body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #96fbc4, #f9f586);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.calculator {
  width: 240px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#result {
  width: 88%;
  padding: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  padding: 10px;
  background-color: #fae4e4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d3cccc;
}

button:active {
  background-color: #dfd8d8;
}

button#backspace {
  background-color: #f4c2c2;
  color: #fff;
}

button#backspace:hover {
  background-color: #e59999;
}

button#backspace:active {
  background-color: #ecb2b2;
}

.brain-storm[data-v-7742db16] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 300;
  background-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background-size: cover;
  background-image: var(--bg-image);
}
